---
http_interactions:
- request:
    method: get
    uri: https://jobs.github.com/positions.json?search=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"de1e2e4c-05ee-11e8-8bd7-141af965a1d0","created_at":"Fri Mar
        02 23:09:11 UTC 2018","title":"Software Engineer, Platform","location":"Denver,
        CO","type":"Full Time","description":"<p>About VigLink:</p>\n\n<p>At VigLink,
        we believe the future of marketing lies within the untapped potential of digital
        content covering commercial products across the Web. We empower influential
        publishers who produce this content to connect enthusiastic consumers with
        the products they love from the brands who value them the most. We accomplish
        this directly through publishers\u2019 words, without need for an ad.</p>\n\n<p>By
        identifying commer[...]
- request:
    method: get
    uri: https://jobs.github.com/positions.json?search=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Mar 2018 00:48:58 GMT
recorded_with: VCR 4.0.0
